# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

# Environment variables
.env

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Docker
*.log

# Credentials
credentials.json

# Mac/Linux
.DS_Store

# Database
*.db

# Coverage
htmlcov/
.coverage

# Jupyter
.ipynb_checkpoints/